@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar
{
    background-color:beige;
    /* height: 100%; */
    width: 100%;
    padding: 20px 0px 20px 20px;
    position: sticky;
    top: 0px;
}
nav ul
{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul li.logo
{
    flex: 1;
    font-size: 1.6rem;
    color:black;
    font-weight: bold;
}
ul li.btn
{
    margin: 0px 10px;
    font-size: 1.2rem;
    border: 1px solid black;
    padding: 5px 5px;
    border-radius:5px;
    display: none;
}
ul div.nav-items
{
    display: inline-flex;
}
ul div.nav-items li a
{
    padding: 10px 7px;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(129, 90, 38);
}
ul div.nav-items li a:hover
{
    color: rgb(13, 17, 17);
    transition: 0.2s;
    text-decoration:underline solid 2px rgb(13, 17, 17);
}
ul li.btn i.show:before
{
    content: "\f00d";
}
@media screen and (max-width:600px) 
{
    ul li.btn
    {
        display:block;
    }
    nav 
    {
        z-index: 1;
        padding: 15px 10px;
        ;
    }
    /* nav ul div
    {
        margin: -3px 5px 0px 0px;
    } */
    nav ul div.nav-items
    {
        z-index: -1;
        position: fixed;
        top: -150px;
        background-color: olive;
        width: 100%;
        display: inline-block;
        text-align: center;
        right: 0;
        transition: 0.4s;
    }    
    nav ul div.nav-items.show
    {
        top: 75px;
    }
    nav ul div.nav-items li
    {
        padding: 5px;
    }
    nav ul div.nav-items li a
    {
        cursor: pointer;
    }    
}