*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav
{
    background-color: rgb(102, 44, 5);
    height: 100%;
    width: 100%;
    padding: 20px 0px 20px 20px;
}
nav ul
{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul li.logo
{
    flex: 1;
    font-size: 2rem;
    color: goldenrod;
}
ul li.btn
{
    margin: 0px 10px;
    font-size: 1.2rem;
    border: 1px solid black;
    padding: 5px 5px;
    border-radius:5px;
    display: none;
}
ul div.nav-items
{
    display: inline-flex;
}
ul div.nav-items li a
{
    padding: 10px 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(235, 140, 15);
}
ul div.nav-items li a:hover
{
    color: cyan;
    transition: 0.2s;
}
.btn i.show:before
{
    content: "\f00d";
}
@media screen and (max-width:600px) 
{
    ul li.btn
    {
        display:block;
    }
    nav 
    {
        z-index: 1;
        padding: 20px 10px;
        position: sticky;
        top: 0;
    }
    /* nav ul div
    {
        margin: -3px 5px 0px 0px;
    } */
    nav ul div.nav-items
    {
        z-index: -1;
        position: fixed;
        top: -200px;
        background-color: olive;
        width: 100%;
        display: inline-block;
        text-align: center;
        right: 0;
        transition: 0.4s;
    }    
    nav ul div.nav-items.show
    {
        top: 75px;
    }
    nav ul div.nav-items li
    {
        padding: 10px;
    }
    
}




